PointOfSale/PointOfSale/Connected Services/WsTimbrado/Timbrado2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FacturaService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FacturaService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespuestaCFDi">
    <xs:sequence>
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaCFDi" nillable="true" type="tns:RespuestaCFDi" />
</xs:schema>